.pokemon {
    max-width: 680px;

    &__link-back {
        margin-bottom: 32px;
        display: inline-block;
        text-decoration: none;
        color: var(--gray);

        & svg {
            margin-right: 16px;
        }
    }

    &__btn-back {
        display: flex;
        align-items: center;
    }

    &__description {

        & span {
            font-weight: 800;
            text-transform: uppercase;
        }
        
        & article {
            line-height: 23px;
        }
    }
}